*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
.idea
_support/assets/logos/.Untitled-1 2.psd.icloud
_support/assets/logos/.Untitled-1.psd.icloud
_support/assets/logos/Untitled-1.psd
