---
layout: article
titles: Guidebook
permalink: /guidebook/enzh/
key: guidebook
sidebar:
  nav: guidebook-en
aside:
  toc: true
---

{% capture left_include %}{% include_relative en/guidebook.md %}{% endcapture %}
{% capture left_include %}{% include_relative en/guidebook.md %}{% endcapture %}

{% capture transformed_html %}{{ left_include | markdownify }}{% endcapture %}
{% assign nodes = transformed_html | strip | split: '<h' %}
{{ nodes | markdownify }}
{% for node in nodes %}
  {{ node }}
{% endfor %}
<!--<div class="grid">-->
<!--  <div class="cell cell&#45;&#45;12 cell&#45;&#45;lg-6 content">{{ my_include | markdownify }}</div>-->
<!--  <div class="cell cell&#45;&#45;12 cell&#45;&#45;lg-6 content">{{ my_include | markdownify }}</div>-->
<!--</div>-->
