---
layout: dual_article
titles: Guidebook
permalink: /guidebook/enzh/
key: guidebook
sidebar:
  nav: guidebook-en
aside:
  toc: true
---

{% capture left_include %}{% include_relative en/raw_en/guidebook.md %}{% endcapture %}
{% capture right_include %}{% include_relative en/raw_en/guidebook.md %}{% endcapture %}

<div class="grid">
  <div class="cell cell--12 cell--lg-6 content">
    <div class="js-article-left-content">
      {{ left_include | markdownify }}
    </div>
  </div>
  <div class="cell cell--12 cell--lg-6 content">
    <div class="js-article-right-content">
      {{ right_include | markdownify }}
    </div>
  </div>
</div>
