---
layout: dual_article
title: Rights after reporting <br> 您的权利
permalink: /guidebook/en-zh-hant/rights-after-reporting
key: guidebook
sidebar:
  nav: guidebook-en-zh-hant
aside:
  toc: true
lang: en-zh-hant
show_date: false
---

{% capture left_include %}{% include_relative en/raw-en/rights-after-reporting.md %}{% endcapture %}
{% capture right_include %}{% include_relative zh-hant/raw-zh-hant/rights-after-reporting.md %}{% endcapture %}

{% include dual_article_setup.html left_page=left_include right_page=right_include %}
